div{
    box-sizing: border-box;
}
.login_c_box{
    width: 100%;;
    padding: 80px 0 80px 0;
    background: #edfafd;
}
.login_c_c{
    width: 1280px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.login_code_box{
    width: 553px;
    padding: 72px 83px 0 72px;
    background:#fff;
    text-align: center
}
.code_img{
    width: 392px;
    height: 392px;
    border: 3px solid rgba(220,40,40,0.50);
}

.code_img img{
    width: 100%;
}
.code_box img{
    position: relative;
    left: 0px;top:0;
    width:150px;
}
.code_b_text{
    font-size: 20px;
    text-align: center;
    height: 72px;
    line-height: 72px;
}

.login_btn_box{
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    border-top: 1px solid #EDEDED;
}
.login_btn_box li{
    width: 100%;
    float: left;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
.login_btn_box li a{
    font-size: 20px;
    color: #444444;
}
.login_btn_box li a span{
    margin-right: 10px;
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

/* 表单  */
.b_from_label{
    height: 40px;
    line-height: 40px;
    border:1px solid #ccc;
}
.input_msg{
    padding: 0 15px;
    border-right:1px solid #ccc;
    font-size: 14px;
}
.input_radio{
    padding: 0 15px;
    border:1px solid #ccc;
    font-size: 14px;
    border-left: none;
}
.b_from_label .b_from_input{
    border:none;
    background:transparent;
    display: table-cell;
    border-left: none;
    height: 42px;
    float: left;
    padding: 5px 10px;
    outline: none;
}
.pwd_login_box{
    width: 680px;
    height: 625px;
    padding: 100px;
    margin-left:10px;
    border-right: 4px solid #EDFAFD;
}
._from_label{
    height: 68px;
    margin-bottom: 5px;
}
._from_input{
    width: 404px;
    height: 68px!important;
}
._from_label .input_msg{
    height: 68px;
    width: 72px;
    line-height: 68px;
    text-align: center;
}
._from_label .input_msg span{
    font-size: 30px;
}
.bit{
    font-size: 14px;    
    position: absolute;
    right:-15px;
    top:0px;
}
.b_red{
color: #DC2828;
}
.form_vail{
    height: 26px;
    position: absolute;
    left:5px;
    bottom:20px;
    line-height: 120px;
}
.err_from{
     border:1px solid #DC2828!important;
}
.err_from .input_msg{
    border-right:1px solid #DC2828!important;
    color:#DC2828;
}
.login_btn{
    display: block;
    width: 100%;
    height: 70px;
    background: #DC2828;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    color:#fff;
    line-height: 70px;
}

.disabled {
    pointer-events: none;
    cursor: default;
    background: #C0C0C0;
    display: block;
    width: 100%;
    height: 70px;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    color:#fff;
    line-height: 70px;
}
.from_forget{
    height: 50px;
    line-height: 70px;
    text-align: right;
    font-size: 20px;
    color: #666666;
}
.from_forget a{
    color: #666666;
}
.from_forget>a:hover{
    color:#666
}
/*注册  */
.register{
    padding: 0 46px 85px 46px;
    background: #fff;
}
.b_from_buzhou{
    overflow: hidden;
    position: relative;
    height: 120px;
    padding-top: 30px;
    margin-bottom: 23px;
}
.b_from_bu{
    width: 68px;
    height: 68px;
    background: #fff;
    box-shadow: 0 3px 16px #ccc;
    border-radius: 50%;
    padding: 8px;
}
.b_from_bu_num{
    background: #f2f2f2;
    text-align: center;
    width: 100%;
    height: 100%;
    color:#fff;
    border-radius: 50%;
    font-size: 32px;
    line-height: 52px;
}
.b_from_bu div.active{
    background: #dc2828;
}
.b_from_bu{
    position: relative;
    z-index: 2;
}
.b_from_buzhou_line{
    border:1px solid #dc2828;
    width: 100%;
    position: absolute;
    top: 67px;
    z-index: 1;
}
.register{
    width: 660px;
}
.register_from{
    border:1px solid #ccc;
    border-right: none;
    height: 68px;
    line-height: 68px;
    margin-bottom: 5px;
}
.register_from .input_msg{
    height: 68px;
    width: 72px;
    line-height: 68px;
    text-align: center;
}
.register_from .input_msg span{
    font-size: 30px;
}
.reg_err_from{
    border:1px solid #DC2828;
}
.reg_err_from .input_msg{
    border-left:1px solid #DC2828!important;
    color:#DC2828;
}
.getMobileCode{
    padding: 0 15px;
    color:#fff;
    background: #C0C0C0;
    font-size: 24px;
    margin-top: -1px;
    margin-right: -1px;
    cursor: pointer;
    background: #DC2828;
    position: absolute;
    right:0;
    top:0;
    pointer-events: auto;
}
.disabled2{
    width:150px;
    text-align: center;
    color:#fff;
    background: #C0C0C0;
    font-size: 24px;
    margin-top: -1px;
    margin-right: -1px;
    cursor: pointer;
    background: #ccc;
    position: absolute;
    right:0;
    top:0;
    pointer-events: none;
}
/*注册成功  */
.regsuc{
    font-size: 38px;
    color: #1A1A1A;
}
.goMian, .goMian a{
    font-size: 20px;
    color: #666666;
}
.RegisterSuccess p{
    margin-bottom: 15px;
}